<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ScheduledFromTime" value="6:30" />
    <add key="ScheduledToTime" value="22:30" />
    <add key="EverySeconds" value="5" />
    <add key="SystemNames" value="AryaDanRoshd-HQ,AryaDanRoshd-Factory" />
    <add key="Configure_AryaDanRoshd-HQ"  value="UserName=Admin;PassWord=123456;PassKey=ZarinPassKey;ServiceUrl=http://localhost;" />
    <add key="Configure_AryaDanRoshd-Factory" value="UserName=Admin;PassWord=123456;PassKey=ZarinPassKey;ServiceUrl=http://localhost;" />
  </appSettings>
<connectionStrings><add name="PersonnelTimeEntities" connectionString="metadata=res://*/PersonnelTime.csdl|res://*/PersonnelTime.ssdl|res://*/PersonnelTime.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.30.40.228;initial catalog=PersonnelTime;persist security info=True;user id=sa;password=Sa@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>